<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Campus Canvas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Students", "Create", "Students", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employees", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Courses", "Index", "Cours", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact us", "Index", "Home", new { area = "" }, null)</li>
                    <li> @Html.ActionLink("About us", "Index", "Home")</li>
                </ul>
                <div class="pull-right">
n                    <ul class="nav navbar-nav pull-right">
                        <li>@Html.ActionLink("Subscribe", "Create", "Logins", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Login", "Create", "Logins", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Campus Canvas</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
